.root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  height: 70vh;
  width: 70vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}

.main > h1 {
  place-self: center;
  margin-top: 150px;
}

.main_operations {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.main_operations > .minus_button {
  padding: 20px;
  margin: 0 20px;
  background-color: #dadbd3;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.main_operations > .minus_button:hover {
  background-color: black;
  color: #ededed;
}

.main_operations > .add_button {
  padding: 20px;
  margin: 0 20px;
  background-color: #dadbd3;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.main_operations > .add_button:hover {
  background-color: black;
  color: #ededed;
}

.main_operations > .value {
  font-size: 30px;
  margin-top: 15px;
}
